<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/script.js" defer ></script>
</head>
<body>
  <h1>EaseML</h1>
  <div>
    <button id="start_training">Start training</button>
    <button id="stop_training">Stop</button>
    <button id="continue_training">Continue</button>
  </div>

  <div class="monitor-container">

    <div  class="chart-container">
      <canvas id="lossChart" width="100px" height="100px"></canvas>
    </div>

    <div  class="chart-container">
      <canvas id="accuracyChart" width="100px" height="100px"></canvas>
    </div>

</div>

   <div> 
  <div> 
    <p>Current accuracy: <span id="accuracy">0 test</span></p>
  </div>

  <script src="../static/script.js" defer ></script>
</body>
</html>